@import "@epickris/bootstrap-kit/scss/variables";

// Pantone
@import "pantone-css/scss/pantone";

// Toggle global options
$enable-gradients: true;
$enable-shadows:   true;

// Color System
$primary: $pantone-2597-cp;

$custom-colors: (
  "primary": $primary
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$body-color: $white;
$body-bg:    $primary;

$border-radius: .4rem;

// Typography
$font-family-sans-serif:       "Blooming Elegant Sans";
$font-family-blooming-elegant: "Blooming Elegant";
$font-family-doodles-1:        "Blooming Elegant Doodles 1";
$font-family-doodles-2:        "Blooming Elegant Doodles 2";

// Fonts
$font-path:                               "../fonts/";
$font-path-blooming-elegant-regular:      "#{$font-path}blooming-elegant-regular/";
$font-path-blooming-elegant-sans-regular: "#{$font-path}blooming-elegant-sans-regular/";
$font-path-blooming-elegant-sans-bold:    "#{$font-path}blooming-elegant-sans-bold/";
$font-path-blooming-elegant-doodles-1:    "#{$font-path}blooming-elegant-doodles-1/";
$font-path-blooming-elegant-doodles-2:    "#{$font-path}blooming-elegant-doodles-2/";

@import "@epickris/bootstrap-kit/scss/components";
@import "bootstrap/scss/bootstrap";
@import "fonts";

//
// Custom styles
//

.font-blooming-elegant {
  font-family: $font-family-blooming-elegant;
}

.font-doodles-1 {
  font-family: $font-family-doodles-1;
}

.font-doodles-2 {
  font-family: $font-family-doodles-2;
}

.font-50 {
  font-size: 50%;
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}

.pulse {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(.8);
  }
  100% {
    transform: scale(1);
  }
}
